<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
      function onSubmit(token) {
        document.getElementById("submit-form").submit();
      }
    </script>
  </head>
  <body>
    <h1>Register With Us!</h1>
    <form action="/submit" methods="POST" id="submit-form">
      <label for="username">USERNAME</label>
      <input type="text" name="username" />
      <label for="password">PASSWORD</label>
      <input type="text" name="password" />
      <label for="phone">PHONE</label>
      <input type="text" name="phone" />
      <label for="email">EMAIL</label>
      <input type="text" name="email" />
      <button
        class="g-recaptcha"
        data-sitekey="6LdgYAkjAAAAAGqztWPCDKxVCYyrzw_otSKo7bCT"
        data-callback="onSubmit"
      >
        Submit
      </button>
    </form>
  </body>
</html>

module.exports= sub;
